body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.dark {
    background-color: black;
    color: white;
}

#container div {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

#box {
    margin-top: 10px;
    border: 1px solid black;
    display: inline-block;
}